<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carmotosv</title>
    <link rel="icon" href="../../api/Imagenes/img/content/logo.jpeg" />
    <link rel="stylesheet" href="../../resources/css/style_helmet.css" />
    <link rel="stylesheet" href="../../resources/css/reset.css" />
    <link rel="stylesheet" href="../../resources/css/footer.style.css" />
    <link rel="stylesheet" href="../../resources/css/header.style.css" />
    <link rel="stylesheet" href="../../resources/css/common-class.style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header-container">
        <div class="header-content">
          <a href="./home.html"
            ><div class="logo-img" alt="carmotosv logo"></div
          ></a>
          <a href="./about_us.html" class="title-navigation title">
            <h2>¿Quiénes somos?</h2>
          </a>
          <a
            href="./promociones.html"
            class="title-navigation title"
          >
            <h2>Promociones</h2>
          </a>
        </div>
      </div>
      <div class="action-header-container">
        <div id="menu">
          <ul>
            <li class="has-sub">
              <div class="hamburger-container">
                <button
                  class="hamburger actions-btn-no-background"
                  id="hamburger"
                >
                  <img
                    src="../../api/Imagenes/img/icons/hamburger.png"
                    class="icons hamburger"
                    alt="hamburger"
                  />
                </button>
                <h2 class="action-title title">Marcas</h2>
              </div>
              <ul id="Marcas_fill">
                
              </ul>
            </li>
          </ul>
        </div>
        <h2 class="action-title title" id="MainTitle"></h2>
        <button
          class="shopping-car-btn actions-btn-no-background"
          id="shopping-car"
        >
          <a href="./shopping_car.html"
            ><img
              src="../../api/Imagenes/img/icons/shopping car.png"
              class="icons"
              alt="shopping car"
          /></a>
        </button>
      </div>
    </header>

    <!-- MAIN BODY -->
    <main class="main">
      <section class="helmet-section">
        <article class="helmet-card">
          <div class="img-container">
            <img
              src="../../api/Imagenes/img/Carmoto.sv/Imagenes de scorpion/casco 1.jpg"
              alt="scorpion helmet"
            />
          </div>
          <div class="helmet-information-container">
            <h2 class="title-2">Casco GPTEK</h2>
            <p>Certificado</p>
            <p>
              Marca:
              <span class="semi-bold">Scorpion</span>
            </p>
            <p>
              Precio:
              <span class="semi-bold">$48.00</span>
            </p>
            <form>
            <ul class="helmets-size">
              <p>Talla:</p>
              <li class="helmet-size-type semi-bold"><span>S</span></li>
              <hr class="division-size" />
              <li class="helmet-size-type semi-bold">
                <span>M</span>
              </li>
              <hr class="division-size" />
              <li class="helmet-size-type semi-bold">
                <span>L</span>
              </li>
            </ul>
            <div class="order-actions">
              <button class="action-btn"><p>-</p></button>
              <p>1</p>
              <button class="action-btn"><p>+</p></button>
            </div>
            <button class="add-cart-btn" id="addToCartBtn">
              <p>Agregar al carrito</p>
            </button>
          </form>
          </div>
        </article>
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <section class="footer-more-information">
        <article class="footer-direction">
          <p class="name"> CARMOTOSV El Salvador S.A. de C.V.</p>
          <p class="direction">
            Avenida Aguilares 218 San Salvador CP, San Salvador 1101 Instituto
            Técnico Ricaldone, dirección
          </p>
        </article>
        <article class="footer-help">
          <p class="help">¿Necesitas ayuda? Contactanos</p>
          <div class="help-container">
            <div class="icon-cointainer">
              <img src="../../api/Imagenes/img/icons/whatsapp.png" alt="whatsapp" />
            </div>
            <p>2545-6890</p>
          </div>
          <div class="help-container">
            <div class="icon-cointainer">
              <img src="../../api/Imagenes/img/icons/instagram.png" alt="instagram" />
            </div>
            <p>@Carmotosv</p>
          </div>
        </article>
      </section>
      <p class="copyright">
        Copyright © 2024 CARMOTOSV. Todos los derechos Reservados.
      </p>
    </footer>

    <script src="../../resources/JS/style.dynamic.js"></script>
    <script type="text/javascript" src="../../resources/JS/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/marca.js"></script>
  </body>
</html>
