<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carmotosv</title>
    <link rel="icon" href="../../api/Imagenes/img/content/logo.jpeg" />
    <link rel="stylesheet" href="../../resources/css/style_home.css" />
    <link rel="stylesheet" href="../../resources/css/reset.css" />
    <link rel="stylesheet" href="../../resources/css/footer.style.css" />
    <link rel="stylesheet" href="../../resources/css/header.style.css" />
    <link rel="stylesheet" href="../../resources/css/common-class.style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header-container">
        <div class="header-content">
          <a href="../../home/index.html"
            ><div class="logo-img" alt="carmotosv logo"></div
          ></a>
          <a href="../../about-us/index.html" class="title-navigation title">
            <h2>¿Quiénes somos?</h2>
          </a>
          <a href="../promocion/index.html" class="title-navigation title">
            <h2>Promociones</h2>
          </a>
        </div>
      </div>
      <div class="action-header-container">
        <div id="menu">
          <ul>
            <li class="has-sub">
              <div class="hamburger-container">
                <button
                  class="hamburger actions-btn-no-background"
                  id="hamburger"
                >
                  <img
                    src="../../../assets/img/icons/hamburger.png"
                    class="icons hamburger"
                    alt="hamburger"
                  />
                </button>
                <h2 class="action-title title">Marcas</h2>
              </div>
              <ul>
                <li class="item">
                  <a title="" href="../../home/index.html">Inicio</a>
                </li>
                <li class="item">
                  <a title="" href="../../products/product-scorpion/index.html"
                    >scorpion</a
                  >
                </li>
                <li class="item">
                  <a title="" href="../../products/product-arai/index.html"
                    >arai</a
                  >
                </li>
                <li class="item">
                  <a
                    title=""
                    href="../../products/product-nexx-wed-2/index.html"
                    >Nexx Wed 2</a
                  >
                </li>
                <li class="item">
                  <a title="" href="../../products/product-agv/index.html"
                    >AGV</a
                  >
                </li>
                <li class="item">
                  <a title="" href="../../products/product-niz/index.html"
                    >NZI</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <h2 class="action-title title">Promociones</h2>
        <button
          class="shopping-car-btn actions-btn-no-background"
          id="shopping-car"
        >
          <a href="../../shopping-cart/index.html"
            ><img
              src="../../../assets/img/icons/shopping car.png"
              class="icons"
              alt="shopping car"
          /></a>
        </button>
      </div>
    </header>

    <!-- MAIN BODY -->
    <main class="main">
      <section class="product-section">
        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 1.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 2.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 3.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 4.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 5.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 6.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 7.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>

        <article class="product-card">
          <div class="product-information-container">
            <div class="information">
              <h2 class="title semi-bold">CASCO GPTEK</h2>
              <p>Certificado</p>
            </div>
            <p class="semi-bold">$26.49</p>
          </div>
          <div class="img-container">
            <img
              src="../../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 8.jpg"
              alt="scorpion product"
            />
          </div>
          <button class="check-details">
            <a href="../../helmet/index.html" class="link">Ver detalles</a>
          </button>
        </article>
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <section class="footer-more-information">
        <article class="footer-direction">
          <p class="name"> CARMOTOSV El Salvador S.A. de C.V.</p>
          <p class="direction">
            Avenida Aguilares 218 San Salvador CP, San Salvador 1101 Instituto
            Técnico Ricaldone, dirección
          </p>
        </article>
        <article class="footer-help">
          <p class="help">¿Necesitas ayuda? Contactanos</p>
          <div class="help-container">
            <div class="icon-cointainer">
              <img src="../../assets/img/icons/whatsapp.png" alt="whatsapp" />
            </div>
            <p>2545-6890</p>
          </div>
          <div class="help-container">
            <div class="icon-cointainer">
              <img src="../../assets/img/icons/instagram.png" alt="instagram" />
            </div>
            <p>@Carmotosv</p>
          </div>
        </article>
      </section>
      <p class="copyright">
        Copyright © 2024 CARMOTOSV. Todos los derechos Reservados.
      </p>
    </footer>
  </body>
</html>
