<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carmotosv</title>
    <link rel="icon" href="../../api/Imagenes/img/content/logo.jpeg" />
    <link rel="stylesheet" href="../../resources/css/style_home.css" />
    <link rel="stylesheet" href="../../resources/css/reset.css" />
    <link rel="stylesheet" href="../../resources/css/footer.style.css" />
    <link rel="stylesheet" href="../../resources/css/header.style.css" />
    <link rel="stylesheet" href="../../resources/css/common-class.style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header-container">
        <div class="header-content">
          <a href="../home/index.html"
            ><div class="logo-img" alt="carmotosv logo"></div
          ></a>
          <a href="../about-us/index.html" class="title-navigation title">
            <h2>¿Quiénes somos?</h2>
          </a>
          <a
            href="../products/promocion/index.html"
            class="title-navigation title"
          >
            <h2>Promociones</h2>
          </a>
        </div>
      </div>
      <div class="action-header-container">
        <div id="menu">
          <ul>
            <li class="has-sub">
              <div class="hamburger-container">
                <button
                  class="hamburger actions-btn-no-background"
                  id="hamburger"
                >
                  <img
                    src="../../assets/img/icons/hamburger.png"
                    class="icons hamburger"
                    alt="hamburger"
                  />
                </button>
                <h2 class="action-title title">Marcas</h2>
              </div>
              <ul>
                <li class="item">
                  <a title="" href="../home/index.html">Inicio</a>
                </li>
                <li class="item">
                  <a title="" href="../products/product-scorpion/index.html"
                    >scorpion</a
                  >
                </li>
                <li class="item">
                  <a title="" href="../products/product-arai/index.html"
                    >arai</a
                  >
                </li>
                <li class="item">
                  <a title="" href="../products/product-nexx-wed-2/index.html"
                    >Nexx Wed 2</a
                  >
                </li>
                <li class="item">
                  <a title="" href="../products/product-agv/index.html">AGV</a>
                </li>
                <li class="item">
                  <a title="" href="../products/product-niz/index.html">NZI</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button
          class="shopping-car-btn actions-btn-no-background"
          id="shopping-car"
        >
          <a href="../shopping-cart/index.html"
            ><img
              src="../../assets/img/icons/shopping car.png"
              class="icons"
              alt="shopping car"
          /></a>
        </button>
      </div>
    </header>

    <!-- MAIN BODY -->
    <main class="main">
      <h2 class="title-3">Tus compras</h2>
      <section class="helmet-section">
        <article class="helmet-card">
          <div class="img-container">
            <img
              src="../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 1.jpg"
              alt="scorpion helmet"
            />
          </div>
          <div class="helmet-information-container">
            <h2 class="title-2">Casco GPTEK</h2>
            <p>SKU-912192819</p>
            <p>
              Antes de la utilización del producto, leer las instrucciones de
              uso y seguir las recomendaciones de seguridad que indica la
              etiqueta o manual del fabricante.
            </p>
          </div>
          <hr class="division" />
          <div class="price-container">
            <h3 class="title-2">Precio</h3>
            <h3 class="title-2 price">$12.00 <span></span></h3>
            <button class="remove-cart-btn" id="removeToCartBtn">
              <p>Eliminar producto</p>
            </button>
          </div>
        </article>
        <article class="helmet-card">
          <div class="img-container">
            <img
              src="../../assets/img/Carmoto.sv/Imagenes de scorpion/casco 1.jpg"
              alt="scorpion helmet"
            />
          </div>
          <div class="helmet-information-container">
            <h2 class="title-2">Casco GPTEK certificado</h2>
            <p>SKU-912192819</p>
            <p>
              Antes de la utilización del producto, leer las instrucciones de
              uso y seguir las recomendaciones de seguridad que indica la
              etiqueta o manual del fabricante.
            </p>
          </div>
          <hr class="division" />
          <div class="price-container">
            <h3 class="title-2">Precio</h3>
            <h3 class="title-2 price">
              $9.00 <span class="discount">50%</span>
            </h3>
            <button class="remove-cart-btn" id="addToCartBtn">
              <p>Eliminar producto</p>
            </button>
          </div>
        </article>
      </section>
      <section class="shopping-cart-information">
        <h3 class="title">SUB-TOTAL (2 PRODUCTOS): $21.00</h3>
        <hr />
        <button class="confirm-order title-2">PAGAR</button>
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <section class="footer-more-information">
        <article class="footer-direction">
          <p class="name"> CARMOTOSV El Salvador S.A. de C.V.</p>
          <p class="direction">
            Avenida Aguilares 218 San Salvador CP, San Salvador 1101 Instituto
            Técnico Ricaldone, dirección
          </p>
        </article>
        <article class="footer-help">
          <p class="help">¿Necesitas ayuda? Contactanos</p>
          <div class="help-container">
            <div class="icon-cointainer">
              <img src="../../assets/img/icons/whatsapp.png" alt="whatsapp" />
            </div>
            <p>2545-6890</p>
          </div>
          <div class="help-container">
            <div class="icon-cointainer">
              <img src="../../assets/img/icons/instagram.png" alt="instagram" />
            </div>
            <p>@Carmotosv</p>
          </div>
        </article>
      </section>
      <p class="copyright">
        Copyright © 2024 CARMOTOSV. Todos los derechos Reservados.
      </p>
    </footer>

    <script src="./style.dynamic.js"></script>
  </body>
</html>
