<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>carmotosv</title>
  <link rel="icon" href="../../api/Imagenes/img/content/logo.jpeg" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/reset.css" />
  <link rel="stylesheet" href="../../resources/css/footer.style.css" />
  <link rel="stylesheet" href="../../resources/css/header.style.css" />
  <link rel="stylesheet" href="../../resources/css/common-class.style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <!-- HEADER -->
  <header class="header">
    <div class="header-container">
      <div class="header-content">
        <a href="./index.html">
          <div class="logo-img" alt="carmotosv logo"></div>
        </a>
        <a href="./about_us.html" class="title-navigation title">
          <h2>¿Quiénes somos?</h2>
        </a>
        <a href="./promociones.html" class="title-navigation title">
          <h2>Promociones</h2>
        </a>
      </div>
    </div>
    <div class="action-header-container">
      <div id="menu">
        <ul>
          <li class="has-sub">
            <div class="hamburger-container">
              <button class="hamburger actions-btn-no-background" id="hamburger">
                <img src="../../api/Imagenes/img/icons/hamburger.png" class="icons hamburger" alt="hamburger" />
              </button>
              <h2 class="action-title title">Marcas</h2>
            </div>
            <ul id="Marcas_fill">
              <li class="item">
                <a title="" href="../../views/public/index.html">Inicio</a>
              </li>
              <li class="item">
                <a title="" href="../../views/public/productos.html">Todos</a>
              </li>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <h2 class="action-title title">Inicio</h2>
      <h2 class="action-title title"><a href="./ver_pedidos.html">Ver Pedidos</a></h2>
      <button class="shopping-car-btn actions-btn-no-background" id="shopping-car">
        <a href="./shopping_car.html"><img src="../../api/Imagenes/img/icons/shopping car.png" class="icons"
            alt="shopping car" /></a>
      </button>
    </div>
  </header>

  <!-- MAIN BODY -->
  <main class="main">
    <h3 id="mainTitle"></h3>
    <div class="row">
        <!-- Formulario de búsqueda -->
        <form class="col-sm-12 col-md-6" id="searchForm">
          <div class="row">
            <div class="col-6">
              <input type="search" class="form-control" name="search" placeholder="Buscar" required>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-success">
                <i class="bi bi-search"></i>
              </button>
              <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                <i class="bi bi-x-square-fill"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="col-sm-12 col-md-6 text-end">
          <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
        </div>
      </div>

    <table class="table table-hover separador">
        <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
        <thead>
          <tr>
            <td colspan="4" id="rowsFound"></td>
          </tr>
          <tr>
            <th>ID del pedido</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Ver reporte</th>
          </tr>
        </thead>
        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
        <tbody id="tableBody">
    
        </tbody>
      </table>
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <section class="footer-more-information">
      <article class="footer-direction">
        <p class="name"> CARMOTOSV El Salvador S.A. de C.V.</p>
        <p class="direction">
          Avenida Aguilares 218 San Salvador CP, San Salvador 1101 Instituto
          Técnico Ricaldone, dirección
        </p>
      </article>
      <article class="footer-help">
        <p class="help">¿Necesitas ayuda? Contactanos</p>
        <div class="help-container">
          <div class="icon-cointainer">
            <img src="../../api/Imagenes/img/icons/whatsapp.png" alt="whatsapp" />
          </div>
          <p>2545-6890</p>
        </div>
        <div class="help-container">
          <div class="icon-cointainer">
            <img src="../../api/Imagenes/img/icons/instagram.png" alt="instagram" />
          </div>
          <p>@Carmotosv</p>
        </div>
      </article>
    </section>
    <p class="copyright">
      Copyright © 2024 CARMOTOSV. Todos los derechos Reservados.
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../controllers/public/ver_pedidos.js"></script>
  <script type="text/javascript" src="../../controllers/public/marca.js"></script>
  <script type="text/javascript" src="../../resources/JS/sweetalert.min.js"></script>
  <script type="text/javascript" src="../../controllers/utils/components.js"></script>

</body>

</html>